{{#partial "content"}}
    <div class="emphasized well">
        <p>Backpack:</p>
        <ul>
            <li>{{activity}}</li>
            <li>Created At: {{createdAt}}</li>
        </ul>

        {{#if myBackpack}}

            {{#each myBackpack}}

                <ul>
                    <li>Job Name: {{ name }} </li>
                    <li>Company Name: {{ cost }} </li>
                    <li>Dates Worked: {{ weight }} </li>
                    <li>Job Description: {{ brand }} </li>
                </ul>

            {{/each}}

        {{else}}

            <p>No items inside bag!</p>

        {{/if}}
            <p>
                <a href="/backpacking/{{backpacking.id}}/update">Edit this entry</a>
                <a href="/backpacking/{{backpacking.id}}/delete">DELETE this entry (no undo)</a>
            </p>
    </div>
{{/partial}}
{{> layout.hbs}}